@model Bug_Tracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<center><h2>Ticket Details</h2></center><br />

<div class="container body-content">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">@Html.DisplayFor(model => model.OwnerUser.DisplayName)</h4>
                            <p class="text-muted">
                                Submitted on: @Html.DisplayFor(model => model.Created)<br />
                                Last Update on: @Html.DisplayFor(model => model.Updated)
                            </p>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                    <p>@Html.DisplayFor(model => model.Description)</p>
                </div>            
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#comments" data-toggle="tab">Comments</a>
                            </li>
                            <li class="active">
                                <a href="#attachments" data-toggle="tab">Attachments</a>
                            </li>
                            <li class="active">
                                <a href="#history" data-toggle="tab">History</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="comment"><br />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Project: @Html.DisplayFor(model => model.Project.Name)</h4><hr />
                    <h4>Assigned to:</h4>
                    <h5>@Html.DisplayFor(model => model.AssignedUser.FirstName)</h5><hr />
                    <h4>Ticket Type:</h4>
                    <h5>@Html.DisplayFor(model => model.TicketType.Name)</h5><hr />
                    <h4>Ticket Status:</h4>
                    <h5>@Html.DisplayFor(model => model.TicketStatus.Name)</h5><hr />
                    <h4>Ticket Priority:</h4>
                    <h5>@Html.DisplayFor(model => model.TicketPriority.Name)</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assigned to
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedUser.FirstName)
        </dd>

        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            Last Update
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>

    @foreach(var a in Model.TicketAttachments)
    {
        <tr>
            <td>
                <a href="@Url.Content(a.FileUrl)" target="_blank">@a.FileUrl.Substring(14)</a>
            </td>
        </tr>
    }

    @foreach (var a in Model.TicketComments)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => a.Comment)
            </td>
        </tr>
    }

<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
